* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.kv-nav {
  max-width: 1600px;
  margin: 0 auto;
  background: #fff;
  padding: 14px 24px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Menu */
.kv-menu {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.kv-menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.kv-menu a:hover {
  color: #2e7d32;
}

/* Button */
.btn {
  border: none;
  font-weight: semibold;
  cursor: pointer;
  display: inline-block;
  background: #469165;
  color: #ffffff;
  padding: 14px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
}

.btn:hover {
  background: #43a047;
}

/* Main Style */

/* Banner layout */
#banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 3;
  max-width: 1360px;
  padding: 0 20px;
}

.banner-content-Early {
  margin-bottom: 16px;
}

.banner-content-h1 {
  max-width: 1360px;
}
.banner-content-p {
  max-width: 700px;
  text-align: center;
}
.banner-content h1 {
  font-size: 52px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.8;
  margin-bottom: 36px;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn-early-access:hover {
  color: #64cf91;
}
.btn-early-access {
  display: inline-flex;
  align-items: center;
  gap: 16px;

  background: #ffffff;
  color: #469165;

  padding: 8px 18px;
  border-radius: 999px;

  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  border: none;
  cursor: pointer;
}

.btn-early-access img {
  width: 16px;
  height: 16px;
}

.banner-content {
  position: relative;
  z-index: 3;
  max-width: 1360px;
  color: #fff;
  padding: 115.5px 120px 179.5px;
}

.banner-content h1 {
  font-size: 68px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.highlight {
  color: #469165;
}

/* Text */
.banner-content p {
  font-size: 18px;
  color: #dcdcdc;
  margin-bottom: 36px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #ffffff80;
  display: inline-block;
  color: #ffffff;
  padding: 14px 26px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
}

/* Challenges Section */
#challenges {
  padding: 80px 20px;
  background-color: #ffffff;
}

.challenges-container {
  max-width: 1360px;
  margin: 0 auto;
}

.challenges-container .section-heading {
  text-align: center;
  margin-bottom: 44px;
}

.challenges-container .section-heading h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #001931;
}

.challenges-container .section-heading p {
  font-size: 16px;
  color: #627382;
  max-width: 1360px;
  margin: 0 auto;
  line-height: 1;
}

.challenges-info {
  display: flex;
  gap: 24px;
}

.challenges-info .info-card {
  background-color: #ffffff;
  max-width: 322px;
  max-height: 300px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.challenges-info .info-card .icon-circle {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.challenges-info .info-card .icon-circle img {
  width: 32px;
  height: 32px;
}

.challenges-info .info-card h4 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #001931;
}

.challenges-info .info-card p {
  font-size: 16px;
  color: #627382;
  line-height: 1.6;
}

/* ------- Solutions Section ------------ */

.solution {
  margin: 120px 0;
}

.solution-wrap {
  width: 1360px;
  margin: auto;
  display: flex;
  gap: 60px;
}

.solution-img {
  width: 50%;
}

.solution-img img {
  width: 100%;
}

.solution-text {
  width: 50%;
  padding: 120px 0;
}

.solution-tag p {
  color: #469165;
  font-size: 16px;
}

.solution-text h2 {
  font-size: 48px;
  color: #001931;
  padding: 16px 0;
}

.solution-text p {
  font-size: 16px;
  color: #627382;
  max-width: 700px;
}

.solution-text ul {
  padding: 40px 0;
}

.solution-text li {
  list-style: none;
  font-size: 16px;
  color: #001931;
  margin-bottom: 10px;
}

.solution-text li img {
  width: 16px;
  vertical-align: middle;
}
/* ----------------- More Section ---------------- */
.cta-section {
  padding: 80px 20px;
  background: #ffffff;
}

.cta-card {
  max-width: 1360px;
  margin: auto;
  padding: 70px 20px;
  background: #f7f6f2;
  border-radius: 10px;
  text-align: center;
}

.cta-card h2 {
  font-size: 40px;
  color: #001931;
  margin-bottom: 14px;
}

.cta-text {
  font-size: 16px;
  color: #627382;
  line-height: 1.6;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background: #469165;
  color: #ffffff;
  padding: 14px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
}

.cta-button:hover {
  background: #43a047;
}

.cta-sub {
  margin-top: 16px;
  font-size: 16px;
  color: #627382;
}

/* ------------ Footer Section ------------------  */

.footer {
  background: #001931;
  padding: 60px 0 30px;
  color: #ffffff;
}

.footer-inner {
  max-width: 1360px;
  margin: auto;
  padding: 0px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer-left img {
  height: 60px;
  width: 139px;
}

.footer-right {
  text-align: right;
}

.footer-right p {
  font-size: 20px;
  margin-bottom: 8px;
}

.footer-right img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.footer-line {
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 30px 0 20px;
}

.footer-copy {
  text-align: center;
  font-size: 16px;
  color: #fafafa;
}
